.header {
    
    background-color: var(--primary-color);
    /* height:60px; */
}
.header_inner{   
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    animation: feature-text-anim 0.25s ease-in-out;
   
}
.logo a{
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.hambuger{
    position: relative;
}

.hambuger:hover{
    cursor: pointer;
}

.fa{
    position: absolute;
    right:0;
    top:-4px;
    color:#fff;
    font-size: 24px;
}

h.hambuger i{
    position: absolute;
    right:0;
    top:-4px;
    color:#fff;
    font-size: 24px;
}

.hambuger i.hidden{    
    display: none;        
}


.hambuger i:hover{
    cursor: pointer;
}
